@use "./colors" as *;
@use "./reset" as *;

body {
  font-family: "Raleway", sans-serif;
  background-image: url(../images/bg-mobile.png);
  color: $Grayish-Blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

//Main

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    width: 100%;
  }

  //LOGO CARD
  .card-logo {
    padding: 40px 60px 30px 30px;
    background-color: $Dark-Blue;
    display: grid;
    gap: 35px;
    border-radius: 12px 90px 12px 12px;
    min-width: 320px;

    &__icons {
      display: flex;
      gap: 20px;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: $Very-Dark-Blue;
        border-radius: 8px;
        width: 50px;
        height: 50px;
      }
    }
  }

  //USAGE CARD

  .usage-card {
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 30px 30px 60px 30px;
    background-color: $Dark-Blue;
    text-align: center;
    line-height: 2;
    &__how-much-left {
      position: absolute;
      font-size: 36px;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      padding: 20px;
      background-color: #fff;
      border-radius: 12px;
      line-height: 1;
      bottom: 0;
      transform: translateY(50%);
      @media screen and (min-width: 992px) {
        top: 0;
        bottom: auto;
        transform: translateY(-50%);
        right: 20px;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px; /* Możesz dostosować to, aby kontrolować odległość trójkąta od elementu */
          right: -12px;
          transform: rotate(90deg);
          width: 0;
          height: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 25px solid #fff; /* Kolor trójkąta */
        }
      }

      span {
        font-size: 16px;
      }
    }
  }
}

//Footer

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
